:root {
    --default-padding: 1rem;

    --text-color: #050315;
    --background-color: #fbfbfe;
    --primary-color: #2f27ce;
    --secondary-color: #dedcff;
    --accent-color: #433bff;

    --line: 1px solid rgba(0, 0, 0, 0.1);

    --main-font: sans-serif;
}

footer {
    min-height: 200px;
}

body {
    margin: 0px;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1 {
    font-size: 1.5rem;
}

header {
    position: sticky;
    top: 0;
    width: calc(100% - 32px);
    padding: 0px 1rem;
    background-color: var(--background-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--default-padding);
    border-bottom: var(--line);
}

.material-symbols-outlined {
    color: var(--text-color);
}

.logo-link {
    display:flex;
    align-items: center;
    gap: 0.4rem;
}

.search {
    margin-left: auto;  /* move to right */
}

.video-section {
    padding: 1rem;
    display:flex;
    flex-direction: column;
    gap: var(--default-padding);
    border-bottom: var(--line);
}

.video {
    display:grid;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}

.video-compact {
    grid-template-areas:
    "img h2"
    "img p";
    grid-template-columns: 1fr 2fr;
}

.video-full {
    grid-template-areas:
    "img"
    "h2"
    "p";
}

.category-card {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.category-image {
    width: 100%;
}

.category-container {
    display: flex;
    flex-direction: row;
    gap: calc(var(--default-padding)/2);
}

.video img {
    grid-area: img;
}

.video h2 { 
    grid-area: h2;
    margin: var(--default-padding);
    margin-bottom: 5px;
}

.video .publisher { 
    grid-area: p;
    margin: var(--default-padding);
    margin-top: 0px;
}

/* Menu */
.menu{
    height: 100vh;
    left: -100%;
    background: #1a2238;
    position: fixed;
    top: 0;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    padding: 1em;
    padding-right: 5em;
}

button {
    border: none;
    background-color: initial;
    color: white;
    padding: 0;
    cursor: pointer;
}

.menu-button{
    display: inline;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.show{
    left: 0;
}

.fade-layer.visible{
    display: block;
}

.menu-list-item {
    display:flex;
    align-items: center;
    gap: 0.4rem;
}


/* --------------- */

.wrapper {
    /* For mobile testing */
    max-width: 500px;
    background-color: var(--background-color);
}

.video-template {
    border: none;
    aspect-ratio: 16/9;
}

